.govuk-inset-text {
  clear: both;
  border-left: 10px solid #b1b4b6;
  @media (min-width: 40.0625em) {
    font-size: 1.1875rem;
    line-height: 1.3157894737;
  }
}

.lbh-inset-text {
  font-family: Open Sans;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  padding: 1.5rem;
  border-left-color: #bfc1c3;
}
