@import "../../../assets/css/variables.scss";

.header-nav {
    min-height: 80px;
    background-color: black;
    display: flex;
    align-items: center;
    padding: 25px 16px 19px 16px;
}

.page-header {
    min-height: 160px;
    padding: 32px 18px;

    a {
        font-size: 14px;
        line-height: 19px;
        text-decoration-line: underline;
        color: #0b0c0c;

        svg {
            margin-right: 5px;
            text-decoration-line: unset !important;
        }
    }

    .header-title {
        padding-top: 23px;

        h5 {
            font-size: 16px;
            line-height: 20px;
        }

        h3 {
            font-size: 27px;
            line-height: 30px;
        }
    }
}

.navigation-item {
    background-color: $lbh-green1;
    color: white;
    min-height: 45px;
    padding: 13px 8px;
    box-shadow: inset 0px -1px 0px rgba(255, 255, 255, 0.25);
    display: block;

    svg {
        margin-left: 8px;
    }

    .caret-highlight {
        display: none;
    }

    &:hover,
    &.is-active {
        background-color: $lbh-green2;
        color: white !important;

        .caret {
            display: none;
        }

        .caret-highlight {
            display: unset;
        }
    }
}
