.social-worker__filters {
  .dropdown-container {
    .dropdown {
      margin-top: auto;
    }
    .button {
      height: 40px;

      span {
        font-size: 14px;
        color: $lbh-text;
      }
    }
  }

  .custom-input {
    &::placeholder {
      color: $lbh-gray1;
    }
  }
}
