$personalHomeCare: #d9fef1;
$domestic: #ecc1d5;
$liveInCarer: #fcf4e0;
$escort: #ffa9a9;

.personal-home-care {
  background-color: $personalHomeCare;
}

.domestic-home-care {
  background-color: $domestic;
}

.live-in-home-care {
  background-color: $liveInCarer;
}

.escort-home-care {
  background-color: $escort;
}

.home-care-options {
  .home-care-option {
    margin-right: 20px;
    margin-top: 10px;
  }
}

.legend-items {
  display: flex;

  .legend-item {
    display: flex;
    align-items: center;
    margin-right: 10px;

    .legend-colour {
      width: 15px;
      height: 15px;
      margin-right: 10px;
      border: 1px solid #dee0e2;
    }
  }
}

.week-care-picker {
  .header-columns {
    margin-bottom: 0;

    .week-care-picker-day {
      label {
        display: block;
        text-align: center;
      }
    }
  }

  .time-slot-cont {
    border-bottom: thin solid #dee0e2;
    padding-bottom: 10px;
    padding-top: 10px;

    .week-slot-labels {
      label {
        width: 100%;
        font-weight: bold;
        display: block;
      }
    }

    .care-picker {
      .pickers-cont {
        display: flex;
        justify-content: center;
        margin-right: -2px;
        height: 44px;

        .picker-item {
          height: 100%;
          width: 44px;
          margin-right: 2px;
          cursor: pointer;
          display: flex;
          justify-content: center;
          align-items: center;
          font-size: 14px;
          line-height: 20px;
          border: 1px solid #dee0e2;

          &.is-split {
            border: none;
            flex-direction: column;
            justify-content: space-between;

            span {
              display: block;
              width: 100%;
              text-align: center;
              border: 1px solid #dee0e2;
              height: 48%;

              &.is-final {
                margin-top: 2px;
              }
            }
          }
        }
      }

      .pickers-cont-2 {
        margin-top: 2px;
      }
    }

    .care-checkbox {
      display: flex;
      justify-content: center;
      align-items: center;
      height: 40px;
      width: 100%;
      cursor: pointer;

      .control.field-container {
        width: 100%;

        .dropdown,
        .dropdown .dropdown-trigger,
        button.button {
          width: 100%;
        }

        button.button {
          justify-content: center;
          border: 0 !important;
          background: rgba(222, 224, 226, 0.25);
        }
      }
    }

    .care-picker,
    .care-checkbox {
      border: thin solid transparent;

      &:hover,
      &.is-active {
        border-color: $lbh-blue-highlight;
      }
    }
  }
}

.day-summary {
  .columns {
    margin-bottom: 0;
  }

  .day-summary-title {
    display: flex;
    align-items: center;
    margin-top: 32px;
    margin-bottom: 16px;

    label {
      font-weight: bold;
      font-size: 24px;
      line-height: 30px;
      color: black;
      margin-right: 23px;
    }

    .day-summary-line {
      border-bottom: 4px solid #bfc1c3;
      height: 0px;
      width: 100%;
    }
  }

  .day-summary-time-slot {
    font-weight: bold;
    font-size: 16px;
    line-height: 30px;
    border-bottom: 2px dashed #bfc1c3;
    padding-bottom: 8px;
    margin-bottom: 24px;
  }

  .care-label {
    font-weight: bold;
    font-size: 24px;
    line-height: 30px;
    color: $lbh-green1;
  }

  .care-time-breakdown {
    .breakdown-item {
      margin-left: 27px;

      label {
        display: block;
        text-align: center;

        &:not(.time-entry) {
          margin-bottom: 0;
          font-size: 12px;
          line-height: 14px;
          color: $lbh-secondary;
        }
      }

      .time-entry {
        font-weight: bold;
        font-size: 14px;
        line-height: 48px;
      }

      &.total-breakdown label {
        color: $lbh-green1 !important;
        font-weight: bold;
      }
    }
  }

  .additional-detail-summaries {
    label {
      font-weight: bold;
      font-size: 16px;
      line-height: 30px;
    }

    p {
      font-size: 14px;
      line-height: 20px;
      color: $lbh-black1;
    }
  }

  p.day-summary__action-button,
  span.day-summary__action-button {
    color: $lbh-blue-highlight;
    text-decoration: underline;
    font-size: 12px;
    text-decoration-color: $lbh-blue-highlight;

    &:hover {
      cursor: pointer;
    }

    &:first-of-type {
      margin-right: 10px;
    }
  }
}
