.supplier-dashboard {
  .sort {
      &:nth-child(1) {
      width: 145px;
    }
    &:nth-child(2) {
      width: 100px;
    }
    &:nth-child(3) {
      width: 117px;
    }
    &:nth-child(4) {
      width: 80px;
    }
    &:nth-child(5) {
      width: 87px;
    }
    &:nth-child(6) {
      width: 80px;
    }
    &:nth-child(7) {
      width: 80px;
    }
    &:nth-child(8) {
      width: 100px;
    }
  }

  .table__row-item {
    &:nth-child(1) {
      width: 145px;
    }
    &:nth-child(2) {
      width: 100px;
    }
    &:nth-child(3) {
      width: 117px;
    }
    &:nth-child(4) {
      width: 80px;
    }
    &:nth-child(5) {
      width: 87px;
    }
    &:nth-child(6) {
      width: 80px;
    }
    &:nth-child(7) {
      width: 80px;
    }
    &:nth-child(8) {
      width: 100px;
    }
  }
}


.supplier-returns-dashboard {
  .sort {
    &:nth-child(2) {
      width: 210px;
    }
    &:nth-child(3) {
      width: 117px;
    }
    &:nth-child(4) {
      width: 210px;
    }
    &:nth-child(5) {
      width: 170px;
    }
    &:nth-child(6) {
      width: 120px;
    }
    &:nth-child(7) {
      width: 80px;
    }
    &:nth-child(8) {
      width: 100px;
    }
  }

  .table__row-item {
    &:nth-child(2) {
      width: 210px;
    }
    &:nth-child(3) {
      width: 117px;
    }
    &:nth-child(4) {
      width: 210px;
    }
    &:nth-child(5) {
      width: 170px;
    }
    &:nth-child(6) {
      width: 120px;
    }
    &:nth-child(7) {
      width: 80px;
    }
    &:nth-child(8) {
      width: 100px;
    }
  }
}

.supplier-returns {
  .table__row-collapsed-main {
    border: none;
    margin-bottom: 2px;
    padding-right: 8px;
  }

  .table__row-collapsed-header {
    p {
      font-size: 14px;
      font-weight: initial;
      display: flex;
      align-items: center;
    }

    p:nth-child(1) {
      width: 223px;
    }

    p:nth-child(2) {
      text-align: center;
      width: 80px;
    }

    p:nth-child(3) {
      text-align: center;
      width: 80px;
    }

    p:nth-child(4) {
      width: 80px;
      text-align: center;
    }

    p:nth-child(5) {
      width: 70px;
      text-align: center;
    }

    p:nth-child(6) {
      width: 238px;
    }

    p:nth-child(7) {
      width: 100px;
      justify-content: center;
    }

    p:nth-child(8) {
      width: 87px;
      display: flex;
      justify-content: flex-end;
    }
  }

  .table__row-collapsed-main-item {
    padding-bottom: 0;
    justify-content: space-between;
    align-items: center;

    .table__row-collapsed-main-item-el {
      font-size: 14px;
      display: flex;
      align-items: center;

      &:nth-child(1) {
        width: 223px;
      }

      &:nth-child(2) {
        width: 80px;
        display: flex;
        justify-content: center;
      }

      &:nth-child(3) {
        display: flex;
        justify-content: center;
        width: 80px;

        .control input {
          width: 60px;
        }
      }

      &:nth-child(4) {
        width: 80px;
        display: flex;
        justify-content: center;
      }

      &:nth-child(5) {
        width: 70px;
        display: flex;
        justify-content: center;

        .control input {
          width: 60px;
        }
      }

      &:nth-child(6) {
        width: 238px;

        .control {
          width: 100%;
          input {
            width: 100%;
          }
        }
      }

      &:nth-child(7) {
        width: 100px;
        display: flex;
        justify-content: center;
        font-size: 12px;

        .chat-button {
          margin-left: 5px;
          height: 20px;
        }
      }

      &:nth-child(8) {
        width: 87px;
        display: flex;
        justify-content: flex-end;
        color: $lbh-green1;

        &:hover {
          cursor: pointer;
        }
      }
    }
  }
}

.table__row__wrong-input {
  &.control.field-container {
    input.custom-input {
      border-color: $lbh-red;
    }
  }
}
