.pay-runs__level-insight-totals-title {
  font-size: 20px;
  font-weight: 700;
  color: $lbh-black1;
}

.pay-runs__level-insight-totals-text {
  color: $lbh-green1;
  font-size: 36px;
  font-weight: 600;
}

.pay-runs__level-insight-totals-increase {
  font-size: 14px;
  font-weight: 600;
  color: $lbh-black1;
}

.supplier-returns__level-insight-in-dispute {
  p:first-of-type {
    color: $lbh-red;
  }
}
