.supplier-dashboard {
  .sort {
    &:nth-child(1) {
      width: 145px;
    }
    &:nth-child(2) {
      width: 100px;
    }
    &:nth-child(3) {
      width: 117px;
    }
    &:nth-child(4) {
      width: 80px;
    }
    &:nth-child(5) {
      width: 87px;
    }
    &:nth-child(6) {
      width: 80px;
    }
    &:nth-child(7) {
      width: 80px;
    }
    &:nth-child(8) {
      width: 100px;
    }
  }

  .table-row-item {
    &:nth-child(1) {
      width: 145px;
    }
    &:nth-child(2) {
      width: 100px;
    }
    &:nth-child(3) {
      width: 117px;
    }
    &:nth-child(4) {
      width: 80px;
    }
    &:nth-child(5) {
      width: 87px;
    }
    &:nth-child(6) {
      width: 80px;
    }
    &:nth-child(7) {
      width: 80px;
    }
    &:nth-child(8) {
      width: 100px;
    }
  }
}
