.popup__download-ceder {
  .popup__inner-content {
    width: 40%;
  }

  .popup__header {
    margin-bottom: 17px;
  }

  .popup_main {
    margin-bottom: 24px;
  }

  .popup__action-buttons {
    display: flex;
    justify-content: center;

    button.button-base  {
      background-color: $lbh-green1;
      color: white;
    }
  }
}
