.button.button-base {
  font-weight: bold;
  font-size: 14px;
  line-height: 20px;
  text-align: center;
  color: #ffffff;
  background-color: $lbh-green1;
  padding: 12px 16px;
  height: 42px;
  transition: 0.1s ease;

  &:hover {
    transform: scale(1.01);
    opacity: 0.9;

    &[disabled] {
      opacity: 0.5;
      transform: none;
    }
  }

  &.outline {
    background: transparent;

    &:hover {
      transform: scale(1.03);
    }
  }

  &.outline.green {
    color: $lbh-green1;
    border-color: $lbh-green1;
  }

  &.outline.red {
    color: red;
    border-color: red;
  }

  &.outline.gray {
    color: $lbh-gray-text;
    border-color: $lbh-gray-text;
  }

  &[disabled]:not(.outline) {
    background: $lbh-green1;
  }

  &.gray {
    color: $lbh-black1;
    background-color: $lbh-gray;
  }
}

.button-group {
  display: flex;
  flex-wrap: wrap;

  @media (min-width: 518px) {
    & > button {
      &:not(&:last-of-type) {
        margin-right: 10px;
      }
      &:not(&:first-of-type) {
        margin-left: 10px;
      }
    }
  }

  @media (max-width: 518px) {
    flex-direction: column;
    align-items: center;

    & > button {
      margin-bottom: 20px;
    }
  }
}

.link-button {
  font-size: 14px;
  line-height: 20px;
  text-decoration-line: underline;
  color: $lbh-link;
  background: none !important;
  border: none !important;
  outline: none !important;
  box-shadow: none !important;
  cursor: pointer;

  &.red {
    color: $lbh-link-red;

    &:hover {
      color: $lbh-link-red;
    }
  }

  &.green {
    color: $lbh-green1;

    &:hover {
      color: $lbh-green1;
    }
  }
}
