.client-summary-cont {
  padding: 27px 0 16px 0;
  border-bottom: 2px solid $lbh-green1;

  .column {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
  }

  .client-summary-title {
    color: $lbh-green1;
    font-size: 27px;
    line-height: 30px;
    font-weight: bold;
  }

  .more-info {
    width: 100%;
  }

  .package-count {
    color: $lbh-black1;
    span {
      margin-right: 10px;
    }
  }

  .client-prop {
    span {
      color: $lbh-green1;
      font-weight: bold;
      font-size: 12px;
      line-height: 30px;
    }

    div {
      font-size: 14px;
      line-height: 30px;
      color: $lbh-black1;
      width: 100%;
    }
  }
}

.client-summary {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
  grid-gap: 12px;

  @include media-small-ipod-down {
    justify-items: center;
  }

  .client-summary__item {
    display: flex;
    flex-direction: column;
  }

  &__item {
    color: $lbh-green1;
    font-weight: bold;

    @include media-tablet-up {
      display: flex;
      flex-direction: column;
    }

    span {
      color: $lbh-black1;
      font-weight: initial;
      font-size: 14px;
    }
  }
}