.react-datepicker-wrapper {
  display: flex !important;
  align-items: center;

  .react-date-picker__inputGroup {
    cursor: pointer;
  }

  &::after {
    content: '';
    position: absolute;
    pointer-events: none;
    right: 11px;
    width: 24px;
    height: 24px;
    background: url('../../public/images/icons/icon_hakcney_calendar.svg');
    cursor: text;
  }
}

.react-date-picker__custom-input {
  .react-datepicker-wrapper:after {
    display: none;
  }

  .datepicker-custom-input {
    display: flex;
    align-items: center;

    &::after {
      content: '';
      position: absolute;
      pointer-events: none;
      right: 11px;
      width: 24px;
      height: 24px;
      background: url('../../public/images/icons/icon_hakcney_calendar.svg');
      cursor: text;
    }
  }
}

.control .react-datepicker-popper {
  z-index: 4;
}

.datepicker-disabled {
  label {
    color: black;
    opacity: 0.2;
  }

  .react-datepicker-wrapper::after {
    opacity: 0.2;
  }

  button {
    svg {
      opacity: 0.2;
    }
  }

  .react-date-picker__inputGroup {
    display: none;
  }

  .react-date-picker--disabled {
    background: initial;
  }
}

.datepicker-ongoing {
  opacity: 0.5;
  .react-datepicker-wrapper {
    &::before {
      position: absolute;
      left: 10px;
      font-family: OpenSans;
      font-style: normal;
      font-weight: normal;
      font-size: 14px;
      line-height: 20px;
      content: 'Ongoing';
      color: $lbh-black1;
      display: flex;
      align-items: center;
    }
  }
}

.react-date-picker__input {
  box-sizing: border-box;
  outline: none !important;
  box-shadow: unset !important;
  position: relative;
  border-radius: 3px;
  color: $lbh-text;
  font-weight: bold;
  border: 1px solid $lbh-light-gray-border !important;
  height: 40px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding-left: 10px;

  &::placeholder {
    font-size: 16px;
    font-family: "OpenSans", sans-serif;
    color: $lbh-black1;
  }
}

.datepicker-custom-input-placeholder {
  color: $lbh-gray1;
}

.datepicker-custom-input {
  width: 100%;
  padding: 8px;
  position: relative;
  height: 40px;
  text-align: left;
  background: white;
  min-width: 120px;
  border: 2px solid black;
}