.dropdown {
  button.button {
    outline: none !important;
    box-shadow: unset !important;
    border: 1px solid #bfc1c3 !important;
    border-radius: 3px;
    padding: 0 10px;
    height: 40px;
    display: flex;
    justify-content: space-between;
  }

  .dropdown-content {
    box-shadow: none;
  }

  .dropdown-menu {
    min-width: initial;
    background-color: white;
    width: 100%;
    top: 110%;

    border: 1px solid #bfc1c3;
    border-radius: 4px;
    overflow: auto;
    max-height: 160px;
  }

  .icon {
    transition: 0.3s ease;
  }

  .dropdown-item {
    cursor: pointer;
    padding-left: 10px;
    padding-right: 10px;
    word-break: break-word;
    font-size: 16px;
    color: $lbh-text;

    &:hover {
      background: #DEEBFF;
    }
  }

  &.is-active {
    .icon {
      transform: rotate(180deg);
    }
  }
}

.dropdown-trigger {
  width: 100%;
  .button {
    width: 100%;
    span:not(.icon) {
      text-align: left;
      text-overflow: ellipsis;
      white-space: nowrap;
      width: 90%;
      overflow: hidden;
    }
  }
}

.dropdown-item.dropdown-item-active {
  background-color: #2684FF;
  color: white;
}

.dropdown-container {
  display: flex;
  flex-direction: column;
  .button {
    justify-content: space-between;
  }

  &.disable {
    pointer-events: none !important;
    user-select: none !important;
    cursor: not-allowed !important;

    opacity: 0.5;
  }
}
