.dropdown {
    button.button {
        outline: none !important;
        box-shadow: unset !important;
        border: 1px solid #BFC1C3 !important;
        border-radius: 3px;
        padding-left: 10px;
        padding-right: 10px;
        height: 40px;
        display: flex;
        justify-content: space-between;
    }

    .icon {
        transition: 0.3s ease;
    }

    .dropdown-item {
        cursor: pointer;
        padding-left: 10px;
        padding-right: 10px;
    }

    &.is-active {
        .icon {
            transform: rotate(180deg);
        }
    }
}


.dropdown-container {
    display: flex;
    flex-direction: column;
}
