.custom-input {
  height: 40px;
  padding-left: 10px;
}

.control input,
textarea {
  border: 1px solid $lbh-light-gray-border;
  border-radius: 3px;
}

.custom-input__search {
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border: 1px solid $lbh-light-gray-border;
  border-radius: 3px !important;
  outline: unset !important;
  overflow: hidden;

  &:hover {
    cursor: text;
  }

  input {
    border: none !important;
  }

  button.button {
    width: 37px;
    height: 37px;
    padding: 0;
  }
}

.input,
.textarea {
  box-shadow: none !important;
}

.lbh-form-group.with-sign .input-container {
  position: relative;
  &::before {
    content: attr(data-presign);
    position: absolute;
    height: 100%;
    display: flex;
    align-items: center;
    left: 8px;
  }
  .govuk-input {
    padding-left: 16px;
  }
}