.custom-input {
  height: 40px;
  padding-left: 10px;
}

.control input, textarea {
  border: 1px solid $lbh-light-gray-border !important;
  border-radius: 3px !important;
}

.custom-input__search {
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border: 1px solid $lbh-light-gray-border;
  border-radius: 3px !important;
  outline: unset !important;
  overflow: hidden;

  &:hover {
    cursor: text;
  }

  input {
    border: none !important;
  }

  button.button {
    width: 34px;
    height: 34px;
    padding: 0;
  }
}

.input, .textarea {
  box-shadow: none !important;
}
