.custom-input {
  height: 40px;
  padding-left: 10px;
}

.control input,
textarea {
  border: 1px solid $lbh-light-gray-border;
  border-radius: 3px;
}

.custom-input__search {
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border: 1px solid $lbh-light-gray-border;
  border-radius: 3px !important;
  outline: unset !important;
  overflow: hidden;

  &:hover {
    cursor: text;
  }

  input {
    border: none !important;
  }

  button.button {
    width: 37px;
    height: 37px;
    padding: 0;
  }
}

.input,
.textarea {
  box-shadow: none !important;
}

.lbh-form-group.with-sign .input-container {
  position: relative;
  font-size: 1.1875rem;

  &::before {
    content: attr(data-presign);
    position: absolute;
    height: 100%;
    display: flex;
    align-items: center;
    box-sizing: border-box;
    left: 8px;
  }

  .govuk-input {
    padding-left: 16px;
  }
}

.govuk-label.lbh-label.input__label {
  font-size: 19px;
  line-height: 37px;
  font-weight: 600;
  color: #000;
  margin-bottom: 4px;
}

.govuk-hint.lbh-hint.input__hint {
  font-weight: 400;
  font-size: 16px;
  line-height: 37px;
  color: #525a5b;
  margin-bottom: 4px !important;
}
