.notifications {
  position: fixed;
  bottom: 20px;
  z-index: 100001;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.notification {
  background: none !important;
  text-align: center;
  display: flex;
  justify-content: center;
  margin-bottom: 0 !important;

  .notification-close {
    font-size: 32px;
    margin-left: 5px;
    user-select: none;
    transform: rotate(45deg);
    box-sizing: border-box;
    font-weight: bold;

    &:hover {
      cursor: pointer;
    }
  }

  p {
    word-break: break-word;
    font-weight: bold;
    margin-right: 16px;
  }

  div {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 8px 0 8px;
    min-height: 44px;
    border-radius: 4px;
  }

  &.error {
    div {
      background-color: $lbh-red;
      color: white;
    }
  }

  &.success {
    div {
      background-color: #219d21;
      color: white;
    }
  }

  &.warning {
    div {
      background-color: $lbh-dark-orange;
      color: white;
    }
  }
}
