.table-pagination {
  display: flex;
  align-items: center;
  justify-content: flex-end;

  @include media-mobile {
    flex-wrap: wrap;
    justify-content: flex-start;

    & > button {
      margin-bottom: 20px;
    }
  }
}

.table-pagination-actions {
  display: flex;
}

.pagination-search {
  width: 55px;
  height: 40px;
  margin-right: 8px;

  input {
    border-radius: 4px;
    height: 40px;
    text-align: center;
    font-size: 1rem;
  }

  &.filled {
    input {
      background-color: rgba(green, 0.1);
      border-color: $lbh-primary;
    }
  }
}

.table-pagination-info {
  margin-right: 15px;
  font-size: 14px;
  color: $lbh-secondary-text-colour;
}

button.table-pagination-button {
  box-shadow: none;
  background-color: white;
  color: $lbh-gray2;
  margin-right: 8px;
  width: 40px;
  height: 40px;
}

button.table-pagination-item-active {
  background-color: $lbh-green1;
  color: white;
}

button.table-pagination-button {
  display: flex;
  align-items: center;
  border: 1px solid $lbh-gray-border;

  &:not(&:last-of-type) {
    margin-right: 8px;
  }

  &:hover {
    cursor: pointer;
  }
}
