.mr-auto {
  margin-right: auto;
}
.ml-auto {
  margin-left: auto;
}
.mt-auto {
  margin-top: auto;
}
.mb-auto {
  margin-bottom: auto;
}

.px {
  &-60 {
    padding-left: 60px;
    padding-right: 60px;
  }
}

.pt {
  &-10 {
    padding-top: 10px;
  }
}

.mt {
  &-60 {
    margin-top: 60px;
  }
}

.opacity {
  &-3 {
    opacity: 0.3;
  }
}
