.table {
  padding: 16px;
  overflow-x: auto;

  .table__row-item:not(.table__row-item:last-of-type) {
    margin-right: 40px;
  }

  .sort-table {
    .sort:not(.sort:last-of-type) {
      margin-right: 40px;
    }
  }

  &-wrapper {
    width: 100%;
    & > div {
      height: fit-content;
    }
  }

  .table__row-column-items {
    display: flex;
    justify-content: space-between;
    width: 100%;
    align-items: center;
    height: 56px;
    padding: 0 10px;
    &:hover {
      cursor: pointer;
    }
  }

  &__row-wrapper {
    padding: 0 10px
  }
}

.table__row-item {
  width: 100%;

  &:not(.table__row-item-status) > p {
    font-size: 16px;
  }
}

.table__row-item-justify-center {
  justify-content: center !important;
}

.table__title {
  text-align: center;
  font-size: 24px;
  font-weight: bold;
  color: $lbh-black1;
  margin-bottom: 20px;
}

.table__row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  border-bottom: 1px solid $lbh-gray3;
  width: 100%;
  min-width: fit-content;
  transition: background-color 0.2s ease;

  &-item {
    width: 100%;
  }

  &.rejected {
    background-color: $lbh-light-red;
  }

  &:not(.collapsed):hover {
    background-color: #f1f1f1;
  }

  &.collapsed {
    padding-bottom: 0;
  }
}

.sort-table {
  display: flex;
  justify-content: space-between;
  padding-left: 10px;
  padding-right: 10px;

  margin-bottom: 35px;

  @include media-desktop-down {
    width: fit-content;
  }
}

.sort-checkbox {
  width: 32px;

  label.checkbox .checkbox-check {
    width: 20px;
    height: 20px;
  }
}

.sort__sort-name {
  color: black;
  margin-right: 6px;
  font-weight: bold;
  font-size: 14px;
}

.sort {
  display: flex;
  align-items: center;
  width: 100%;

  .sort__actions {
    display: flex;
    flex-direction: column;
    align-items: center;

    svg:first-of-type {
      transform: rotate(180deg);
      margin-bottom: 3px;
    }

    svg {
      width: 12px;
      &:hover {
        cursor: pointer;
      }
    }
  }
}

.table__row-collapsed-main-item__status {
  padding: 5px;
  border-radius: 4px;

  &.disputed {
    background-color: $lbh-red;
    color: white;
  }

  &.not-submitted {
    background-color: $lbh-light-orange;
    border: 1px solid $lbh-orange;
  }
}

.table__row-item-status {
  display: flex;
  justify-content: flex-start;
  font-size: 14px;
  color: $lbh-black1;

  p {
    border-radius: 4px;
    padding: 5px;
  }

  &.awaiting-approval,
  &.held,
  &.outstanding,
  &.submitted,
  &.pending-supplier,
  &.submitted-for-approval,
  &.querying,
  &.in-review,
  &.n\/a {
    p {
      background: $lbh-orange;
    }
  }

  &.paid,
  &.paid-with-holds,
  &.released,
  &.complete,
  &.assigned,
  &.accepted,
  &.pricing-agreed,
  &.approved {
    p {
      background: $lbh-green1;
      color: white;
    }
  }

  &.draft,
  &.not-started,
  &.assign {
    p {
      background: $lbh-gray;
    }
  }

  &.dropdown-container {
    .button {
      width: 124px;
      span {
        font-size: 14px;
        color: $lbh-black1;
      }
    }

    .dropdown-menu {
      left: initial;
      right: 0;
    }
  }

  &.in-dispute.dropdown-container {
    .button {
      background-color: $lbh-blue-highlight;
    }
    span {
      color: white;
    }
    .icon path {
      stroke: white;
    }
  }

  &.held.dropdown-container {
    .button {
      background-color: $lbh-dark-orange;
    }

    .icon path {
      stroke: $lbh-black1;
    }
  }

  &.accepted.dropdown-container {
    .button {
      background-color: $lbh-green1;
    }
    span {
      color: white;
    }
    .icon path {
      stroke: white;
    }
  }

  &.overdue,
  &.disputes-active,
  &.in-dispute,
  &.action-needed,
  &.info-needed {
    p {
      background-color: $lbh-red;
      color: white;
    }
  }

  &.rejected.dropdown-container {
    .button {
      background-color: $lbh-red;
    }
    span {
      color: white;
    }

    .icon path {
      stroke: white;
    }
  }
}

.table__row-collapsed {
  flex-basis: 100%;
}

.table__row-collapsed-header {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
  padding-left: 40px;

  p {
    font-weight: bold;
    color: $lbh-black1;
    font-size: 20px;
  }
}

.table__row-collapsed-header-left {
  display: flex;

  p:first-of-type {
    margin-right: 120px;
  }
}

.table__row-collapsed-main-item {
  display: flex;
  align-items: center;
}

.table__row-collapsed-container {
  background: $lbh-light-gray;
  padding: 17px 10px;

  &:last-of-type {
    padding-bottom: 30px;
  }
}

.table__row-collapsed-main {
  background: white;
  padding: 15px 40px;
  border: 1px solid $lbh-gray;
}

.table__row-collapsed-main-header, .table__row-collapsed-main-footer {
  display: flex;
  margin-bottom: 10px;

  p:first-of-type {
    width: 209px;
  }

  p:nth-of-type(2) {
    width: 70px;
  }

  p:nth-of-type(3) {
    width: 70px;
  }

  p:nth-of-type(4) {
    width: 170px;
  }

  p {
    font-size: 14px;
    font-weight: bold;
    color: $lbh-black1;
  }
}

.table__row-collapsed-main-footer {
  p {
    font-size: 16px;
  }
}

.table__row-collapsed-main-item {
  padding-bottom: 10px;

  &:not(&:last-of-type) {
    border-bottom: 1px solid $lbh-gray;
    margin-bottom: 10px;
  }

  p:first-of-type {
    width: 209px;
  }

  p:nth-of-type(2) {
    width: 70px;
  }

  p:nth-of-type(3) {
    width: 70px;
  }

  p:nth-of-type(4) {
    width: 170px;
  }
}

.table__row-item-checkbox {
  label.checkbox .checkbox-check {
    width: 20px;
    height: 20px;
  }
}

.table__row-collapsed-main-item__status {
  padding: 5px;
  border-radius: 4px;

  &.disputed {
    background-color: $lbh-red;
    color: white;
  }

  &.submitted {
    background-color: $lbh-green1;
    color: white;
  }

  &.not-submitted,
  &.accepted,
  &.resubmitted {
    background-color: $lbh-light-orange;
    border: 1px solid $lbh-orange;
  }
}
