$lbh-green1: #00664f;
$lbh-green2: #025945;
$lbh-green-border: #7FB2A7;
$lbh-light-green: rgba(0, 102, 79, 0.03);
$lbh-yellow: #F8E08E;
$lbh-orange: #F9DD8D;
$lbh-light-orange: rgba(255, 191, 71, 0.15);
$lbh-dark-orange: #FFBF47;
$lbh-light-yellow: rgba(248, 224, 142, 0.1);
$lbh-blue-highlight: #0085ca;

$lbh-black1: #0b0c0c;
$lbh-text: #0b0c0c;
$lbh-secondary: #525a5b;
$lbh-light-gray2: #F8F8F8;
$lbh-gray1: #6F777B;
$lbh-gray: #DEE0E2;
$lbh-gray2: #818282;
$lbh-gray3: #BFC1C3;
$lbh-gray-text: #525A5B;
$lbh-gray-border: #D6D6D6;
$lbh-card-gray: rgba(222, 224, 226, 0.25);
$lbh-light-gray: #FAFAFA;
$lbh-link: #025ea6;
$lbh-red: #BE3A34;
$lbh-light-red: rgba(190, 58, 52, 0.05);
