
$lbh-green1: #00664f;
$lbh-green2: #025945;
$lbh-primary: #00664F;
$lbh-primary-active-button: #003D2F;
$lbh-text-colour: #0B0C0C;
$lbh-green-border: #7fb2a7;
$lbh-light-green: rgba(0, 102, 79, 0.1);
$lbh-yellow: #f8e08e;
$lbh-orange: #f9dd8d;
$lbh-light-orange: rgba(255, 191, 71, 0.15);
$lbh-dark-orange: #ffbf47;
$lbh-light-yellow: rgba(248, 224, 142, 0.1);
$lbh-blue-highlight: #0085ca;
$lbh-secondary-text-colour: #525A5B;
$lbh-e01: #672146;
$lbh-f01: #81312F;
$lbh-f02: #BE3A34;
$lbh-f03: #71211F;
$lbh-h01: #F8E08E;
$lbh-h02: #FFDB62;
$lbh-h03: #E7BE32;
$lbh-black-light: rgba(0, 0, 0, 0.5);
$lbh-black1: #0b0c0c;
$lbh-text: #0b0c0c;
$lbh-secondary: #525a5b;
$lbh-light-gray2: #f8f8f8;
$lbh-gray1: #6f777b;
$lbh-gray: #dee0e2;
$lbh-gray2: #818282;
$lbh-gray3: #bfc1c3;
$lbh-gray-border-2: #BFC1C3;
$lbh-gray-text: #525a5b;
$lbh-gray-border: #d6d6d6;
$lbh-light-gray-border: #bfc1c3;
$lbh-pagination-border: #c2c9d1;
$lbh-header-dark-green: #006e50;
$lbh-header-green: #0cac3e;
$lbh-success-border: #84BD00;
$lbh-success-background: rgba(164, 214, 94, 0.2);
$lbh-warning-border: #CEDC00;
$lbh-warning-background: rgba(206, 220, 0, 0.1);
$lbh-header-nature-green: #85b70a;
$lbh-nav-gray: #797979;
$lbh-card-gray: rgba(222, 224, 226, 0.25);
$lbh-light-blue: rgba(2, 94, 166, 0.1);
$lbh-light-gray: #fafafa;
$lbh-link: #025ea6;
$lbh-light-link: #057fdf;
$lbh-hover-link: #0085CA;
$lbh-red: #be3a34;
$lbh-link-red: #be3a34;
$lbh-announcement-red: rgba(190, 58, 52, 0.1);
$lbh-light-red: rgba(190, 58, 52, 0.05);

$button-secondary-red: $lbh-f01;
$button-secondary-red-hover: $lbh-f02;
$button-secondary-red-pressed: $lbh-f03;

$button-secondary-yellow: $lbh-h01;
$button-secondary-yellow-hover: $lbh-h02;
$button-secondary-yellow-pressed: $lbh-h03;

$button-secondary-blue: #025EA6;
$button-secondary-blue-active: #0D538A;

$button-primary-hover: #328472;

$button-secondary-gray-text: #0C0C0C;