.lbh-button--add:hover svg path {
  fill: #fff;
}

.storybook-buttons {
  button {
    height: 40px;
  }
}

.govuk-button {
  box-sizing: border-box;
  font-family: Open Sans;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-weight: 400;
  font-size: 1rem;
  line-height: 1.1875;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  padding: 8px 10px 7px;
  border: 2px solid transparent;
  border-radius: 0;
  box-shadow: 0 2px 0 #002d18;
  text-align: center;
  vertical-align: top;
  cursor: pointer;
  -webkit-appearance: none;
  width: auto;

  &.disable-shadow {
    box-shadow: none;
  }

  background-color: $lbh-primary;
  color: white;

  &:hover, &:target {
    background-color: $button-primary-hover;
  }

  &:active {
    background-color: $lbh-primary-active-button;
  }

  &.lbh-button.outline {
    color: $lbh-green1;
    border-color: $lbh-green1;

    &[disabled], &.lbh-button--disabled {
      color: white;
    }

    &:hover, &:target {
      background: $button-primary-hover;
      color: white;
    }

    &:active {
      background-color: $lbh-primary-active-button;
    }
  }

  &--disabled {
    cursor: initial;
    user-select: none;
    pointer-events: none;
  }

  .loading {
    width: 20px;
    height: 20px;
    margin-right: 8px;

    circle {
      fill: $lbh-light-link;
    }
  }

  svg.loading.button-loading {
    width: 20px;
    height: 20px;
    margin: 0 8px 0 0;
  }

  &.warning-button {
    background-color: #81312F;
  }
}

button:not(.lbh-button--disabled):not([disabled]), a:not(.lbh-button--disabled):not([disabled]) {
  &[disabled] {
    cursor: initial;
  }

  &.secondary-red {
    background-color: $button-secondary-red;
    color: white;

    &:hover, &:target {
      background-color: $button-secondary-red-hover;
      color: white;
    }

    &:active {
      background-color: $button-secondary-red-pressed;
    }

    &.outline {
      color: $lbh-f01;
      border-color: $lbh-f01;

      &:hover, &:target {
        background: $button-secondary-red-hover;
        color: white;
      }

      &:active {
        background-color: $button-secondary-red-pressed;
      }
    }
  }

  &.secondary-blue {
    background-color: $button-secondary-blue;
    color: white;

    &:hover, &:target {
      background-color: $lbh-hover-link;
      color: white;
    }

    &:active {
      background-color: $button-secondary-blue-active;
    }

    &.outline {
      color: $button-secondary-blue;
      border-color: $button-secondary-blue;

      &:hover, &:target {
        background: $lbh-hover-link;
        color: white;
      }

      &:active {
        background-color: $button-secondary-blue-active;
      }
    }
  }

  &.secondary-yellow {
    background-color: $button-secondary-yellow;
    color: $button-secondary-gray-text;

    &:hover, &:target {
      background-color: $button-secondary-yellow-hover;
    }

    &:active {
      background-color: $button-secondary-yellow-pressed;
    }

    &.outline {
      border-color: $button-secondary-yellow;
      color: $button-secondary-yellow;

      &:hover, &:target {
        background-color: $button-secondary-yellow-hover;
        color: white;
      }

      &:active {
        background-color: $button-secondary-yellow-pressed;
      }
    }
  }

  &.secondary-gray {
    background-color: $lbh-secondary-text-colour;
    color: white;

    &:hover, &:target {
      background-color: $lbh-gray1;
    }

    &:active {
      background-color: $lbh-black1;
    }

    &.outline {
      color: $lbh-gray-text;
      border-color: $lbh-gray-text;

      &:hover, &:target {
        background: $lbh-gray1;
        color: white;
      }

      &:active {
        background-color: $lbh-black1;
      }
    }
  }
  &.outline, .lbh-button {
    background-color: transparent;
    transition: background-color 0.2s ease;
    border: 1px solid;
    box-shadow: none;

    &:hover {
      transform: scale(1.03);
    }
  }
}

.govuk-button:active,
.govuk-button:hover,
.govuk-button:link,
.govuk-button:visited {
  color: #fff;
  text-decoration: none;
}
.govuk-button::-moz-focus-inner {
  padding: 0;
  border: 0;
}
.govuk-button:active {
  top: 2px;
}
.govuk-button:before {
  content: '';
  display: block;
  position: absolute;
  top: -2px;
  right: -2px;
  bottom: -4px;
  left: -2px;
  background: rgba(0, 0, 0, 0);
}
.govuk-button:active:before {
  top: -4px;
}

.govuk-button--disabled,
.govuk-button[disabled='disabled'],
.govuk-button[disabled] {
  opacity: 0.5;
}
.govuk-button--disabled:hover,
.govuk-button[disabled='disabled']:hover,
.govuk-button--disabled:focus,
.govuk-button[disabled='disabled']:focus,
.govuk-button[disabled]:focus {
  outline: 0;
}
.govuk-button--disabled:active,
.govuk-button[disabled='disabled']:active,
.govuk-button[disabled]:active {
  top: 0;
  box-shadow: 0 2px 0 #002d18;
}

.govuk-button--secondary {
  background-color: #f3f2f1;
  box-shadow: 0 2px 0 #929191;
}
.govuk-button--secondary,
.govuk-button--secondary:active,
.govuk-button--secondary:hover,
.govuk-button--secondary:link,
.govuk-button--secondary:visited,
.lbh-checkboxes .govuk-input {
  color: #0b0c0c;
}
.govuk-button--secondary:hover {
  background-color: #dbdad9;
}
.govuk-button--secondary:hover[disabled] {
  background-color: #f3f2f1;
}

.govuk-button--warning {
  background-color: #d4351c;
  box-shadow: 0 2px 0 #55150b;
}
.govuk-button--warning,
.govuk-button--warning:active,
.govuk-button--warning:hover,
.govuk-button--warning:link,
.govuk-button--warning:visited {
  color: #fff;
}
.govuk-button--warning:hover {
  background-color: #aa2a16;
}
.govuk-button--warning:hover[disabled] {
  background-color: #d4351c;
}

.govuk-button--start {
  font-weight: 700;
  font-size: 1.125rem;
  line-height: 1;
  display: -ms-inline-flexbox;
  display: -webkit-inline-box;
  display: inline-flex;
  min-height: auto;
  -ms-flex-pack: center;
  -webkit-box-pack: center;
  justify-content: center;
}
.govuk-button__start-icon {
  margin-left: 5px;
  vertical-align: middle;
  -ms-flex-negative: 0;
  flex-shrink: 0;
  -ms-flex-item-align: center;
  align-self: center;
}

.lbh-button {
  font-family: Open Sans;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  margin-bottom: 0;
  border-radius: 4px;
  background: #00664f;
  font-weight: 400;
}

.lbh-button--start {
  padding: 0.9375rem 1.5rem 0.8125rem;
  font-size: 1.6875rem;
  font-weight: 600;
  line-height: 1.875rem;
}

.lbh-button--start .govuk-button__start-icon {
  margin-left: 1.5rem;
}
.lbh-button--add svg {
  margin-right: 10px;
}
.lbh-button--add svg path {
  fill: #00664f;
}
.lbh-button--add,
.lbh-button--secondary,
.lbh-button--secondary:link,
.lbh-button--secondary:visited {
  padding: 0.8125rem 1.375rem 0.6875rem;
  border: 1px solid #00664f;
  color: #00664f;
  background: #fff;
}

.lbh-button--add:hover,
.lbh-button--secondary:hover,
.lbh-button--secondary:link:hover,
.lbh-button--secondary:visited:hover {
  color: #fff;
  background: #00664f;
}
.lbh-button--add.lbh-button--disabled,
.lbh-button--add.lbh-button--disabled:hover,
.lbh-button--add:disabled,
.lbh-button--add:hover[disabled],
.lbh-button--secondary.lbh-button--disabled,
.lbh-button--secondary.lbh-button--disabled:hover,
.lbh-button--secondary:disabled,
.lbh-button--secondary:hover[disabled],
.lbh-button--secondary:link.lbh-button--disabled,
.lbh-button--secondary:link.lbh-button--disabled:hover,
.lbh-button--secondary:link:disabled,
.lbh-button--secondary:link:hover[disabled],
.lbh-button--secondary:visited.lbh-button--disabled,
.lbh-button--secondary:visited.lbh-button--disabled:hover,
.lbh-button--secondary:visited:disabled,
.lbh-button--secondary:visited:hover[disabled] {
  opacity: 1;
  color: #6f777b;
  background: #dee0e2;
}
.lbh-button--warning.lbh-button--disabled,
.lbh-button--warning.lbh-button--disabled:hover,
.lbh-button--warning:disabled,
.lbh-button--warning:disabled:hover {
  opacity: 0.5;
}
.lbh-button--warning,
.lbh-button--warning:hover[disabled],
.lbh-button--warning[disabled] {
  background: #be3a34;
}

.large-button{
  min-width:200px;
}

@media (min-width: 48.0625em) {
  .govuk-button__start-icon {
    margin-left: 10px;
  }
}

@media print {
  .govuk-button {
    font-family: sans-serif;
    font-size: 14pt;
    line-height: 19px;
  }
  .govuk-button--start {
    font-size: 18pt;
    line-height: 1;
  }
}
