.collapse__button-container {
  &:hover {
    cursor: pointer;
  }

  .collapse__button {
    display: flex;
    align-items: center;
    color: $lbh-link;

    svg {
      margin-left: 5px;
    }
  }
}