.collapse__button-container {
  &:hover {
    cursor: pointer;
  }

  .collapse__button {
    display: flex;
    align-items: center;

    svg {
      margin-left: 5px;
    }
  }

  &.trigger-only-button {
    cursor: initial;

    .collapse__button:hover {
      cursor: pointer;
    }
  }
}
