.new-care-charge {
  .start-date-cell {
    .title-subtitle {
      margin-left: initial;
    }
  }
}

.care-charges__cell {
  cursor: pointer;
  vertical-align: top;
  margin-left: auto;
  padding-top: 24px;
  padding-bottom: 24px;

  &:nth-of-type(1) {
    width: 16%;
  }

  &:nth-of-type(2) {
    width: 28%;
  }

  &:nth-of-type(3) {
    width: 15%;
  }

  &:nth-of-type(4) {
    width: 18%;
  }

  &:last-of-type {
    width: 23%;
  }
}

.govuk-table__row-header {
  td {
    padding: 23px 20px 0 20px;
  }
}

.new-care-charge__card {
  .title-subtitle:not(.title-subtitle:last-of-type) {
    margin-right: 60px;
  }
}

.new-care-charge__card-address {
  font-size: 16px;
  color: $lbh-secondary-text-colour;
}

.new-care-charge__card-date {
  font-size: 16px;
  color: $lbh-secondary-text-colour;
}

.new-care-charge__card-title {
  display: flex;
  align-items: center;
  margin-bottom: 6px;

  p {
    margin-right: 14px;
    font-size: 19px;
    color: $lbh-primary;
    font-weight: 700;
  }

  .lbh-tag {
    margin-right: 8px;
  }
}

.new-care-charge__selectors {
  & .govuk-form-group:not(.search) .govuk-fieldset {
    display: flex;
    align-items: center;

    .horizontal-separator {
      display: none;
    }
  }

  .govuk-fieldset__legend {
    margin-right: 8px;
  }

  .select-container {
    width: 200px;
  }

  .lbh-form-group {
    margin-right: 24px;
  }
}

