.week-of-supplier__breadcrumbs {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 16px;
  background: #fafafa;

  .breadcrumbs {
    padding: 0 !important;
    background: none;
  }
}
