.lbh-header {
  &.bottom-lines {
    &:before {
      bottom: 3px;
      border-bottom: 3px solid #00b341;
    }
    &:after {
      bottom: 9px;
      border-bottom: 4px solid #00664f;
    }
    &:after,
    &:before {
      content: '';
      display: block;
      position: absolute;
      right: 0;
      left: 0;
    }
  }
  &--fixed {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
  }
  &__wrapper {
    margin: 0 30px;
  }
  position: relative;
  z-index: 4;
  margin-top: 0;
  background: #fff;

  &.bottom-lines {
    padding-bottom: 1.3125rem;
    border-bottom: 2px solid #84bd00;
  }

  & + .lbh-phase-banner {
    margin-top: 0.3125rem;
  }
  &__main {
    @media (min-width: 40.0625em) {
      padding: 1.25rem 0 0.75rem;
    }
    padding: 1rem 0 0.75rem;
    color: #fff;
    background: #0b0c0c;
  }
  &__wrapper {
    display: -ms-flexbox;
    display: -webkit-box;
    display: flex;
    -ms-flex-pack: justify;
    -webkit-box-pack: justify;
    justify-content: space-between;
  }
  &__logo {
    display: block;
    width: 9.5rem;
    height: 1.75rem;
    color: #fff;
    @media (min-width: 48.0625em) {
      width: 12.875rem;
      height: 2.3125rem;
      margin-right: 0.5rem;
    }

    &-text {
      position: absolute !important;
      width: 1px !important;
      height: 1px !important;
      margin: 0 !important;
      padding: 0 !important;
      overflow: hidden !important;
      clip: rect(0 0 0 0) !important;
      -webkit-clip-path: inset(50%) !important;
      clip-path: inset(50%) !important;
      border: 0 !important;
      white-space: nowrap !important;
    }
  }
  &__title {
    display: inline-block;
    margin-top: 0;
    margin-right: 1.5rem;
    margin-bottom: 0;

    &-link {
      font-family: Open Sans;
      -webkit-font-smoothing: antialiased;
      -moz-osx-font-smoothing: grayscale;
      display: block;
      padding: 0.25rem 0;
      border-bottom: 1px solid transparent;
      text-decoration: none;

      @media (min-width: 48.0625em) {
        display: -ms-flexbox;
        display: -webkit-box;
        display: flex;
        -ms-flex-align: start;
        -webkit-box-align: start;
        align-items: flex-start;
      }
    }
    &-link:focus {
      color: #0b0c0c;
      box-shadow: 0 -2px #ffc845, 0 4px #0b0c0c;
    }
    &-link:hover {
      border-bottom-color: #fff;
    }
  }
  &__service-name {
    margin-bottom: 0;
    color: #fff;
    font-weight: 400;
    font-family: Open Sans;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    .lbh-header__title-link:hover & {
      text-decoration: 1px underline solid #00664f;
      &--short {
        text-decoration: 2px underline solid #00664f;
      }
    }
    @media (min-width: 48.0625em) {
      margin-top: 0;
      padding-top: 0.5rem;
      font-size: 1.1875rem;
      letter-spacing: -0.7px;
      letter-spacing: -0.04375rem;
      line-height: 1.4375rem;
    }
    &--short {
      padding-top: 0.0625rem;
      font-size: 1.8125rem;
      letter-spacing: -0.7px;
      letter-spacing: -0.04375rem;
      line-height: 2.1875rem;
      margin: 0;
      text-transform: uppercase;
    }
  }
  &__links {
    font-size: 1.1875rem;
    line-height: 1.875rem;
    display: -ms-flexbox;
    display: -webkit-box;
    display: flex;
    margin-top: 0;
    -ms-flex-align: start;
    -webkit-box-align: start;
    align-items: flex-start;
    -ms-flex-pack: justify;
    -webkit-box-pack: justify;
    justify-content: space-between;
    font-size: 1rem;
    line-height: 1.625rem;
    margin-top: 0.5rem;
    padding: 0.25rem 0;
    a + a,
    a + p,
    p + a,
    p + p {
      margin-left: 1.125rem;
    }
    a {
      text-decoration: none;
    }
    a,
    p,
    .lbh-header__service-name {
      margin-bottom: 0;
      color: #fff;
      font-weight: 400;
      font-family: Open Sans;
      -webkit-font-smoothing: antialiased;
      -moz-osx-font-smoothing: grayscale;
    }
    @media (min-width: 40.0625em) {
      font-size: 1.1875rem;
      line-height: 1.875rem;
    }
  }
  &--purple {
    border-bottom-color: #df1995;
    &:before {
      border-bottom-color: #aa0061;
    }
    &:after {
      border-bottom-color: $lbh-e01;
    }
    .lbh-header__main {
      background: $lbh-e01;
    }
    .lbh-header__service-name {
      color: #f8e08e;
    }
  }
}
