.pay-runs__new-pay {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.pay-runs__filters {
  display: flex;
  flex-wrap: wrap;

  .custom-input__search {
    min-width: 231px;
  }

  .dropdown-container {
    .button {
      width: 157px;
    }
  }
}

.pay-runs__filters-title {
  flex-basis: 100%;
}

.pay-run__filter-item {
  width: 220px;

  .dropdown {
    button {
      width: 220px;
      padding-left: 10px;
      padding-right: 10px;

      span {
        font-size: 14px;
      }
    }
  }
}

.pay-run__searches {
  display: flex;
  flex-wrap: wrap;
  flex-basis: 100%;

  .button.button-base {
    background: white;
    border: none;

    svg {
      path {
        fill: $lbh-gray;
      }
    }
  }
}

.pay-run__dropdowns {
  display: flex;
  flex-wrap: wrap;
}
