.pay-runs__table-pagination {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  padding: 16px;

  .button {
    border-radius: 0;
  }
}

.pay-runs__table-pagination-info {
  margin-right: 15px;
}

.pay-runs__table-pagination-button.button.button-base {
  background-color: white;
  color: $lbh-gray2;
  margin-right: 8px;
}

.pay-runs__table-pagination-item-active.button.button-base {
  background-color: $lbh-green1;
  color: white;
}
