.payments__tabs {
  display: flex;
  border-bottom: 1px solid $lbh-gray;
  padding: 0 12px;
}

.payments__tabs-inactive-tab {
  background: $lbh-gray;
  margin-bottom: 7px;
}

.payments__tabs-tab {
  margin-right: 12px;
  min-width: 134px;
  padding: 6px 12px;

  &:hover {
    cursor: pointer;
  }
}

.payments__tabs-active-tab {
  border-bottom: 2px solid white;
  border-left: 1px solid $lbh-gray;
  border-top: 1px solid $lbh-gray;
  border-right: 1px solid $lbh-gray;
  position: relative;
  bottom: -2px;
}
