.create-pay-run__modal {
  padding: 30px;

  .lbh-tabs {
    margin-bottom: 0;

    .govuk-tabs__panel {
      border: none;
    }
  }

  h4 {
    font-size: 19px;
    font-weight: 700;
    color: black;
    margin-bottom: 10px;
  }

  .date-picker__calendar-container .react-date-picker {
    right: 100px;
    bottom: -80px;
    top: initial;
    left: initial;
  }

  .lbh-form-group .govuk-label.govuk-date-input__label {
    font-size: 19px;
    font-weight: 400;
    color: black;
  }

  .govuk-date-input__item {
    margin-right: 8px;
  }

  .react-date-picker {
    max-width: initial;
  }

  .datepicker-custom-input {
    padding-right: 38px;
  }

  .create-pay-run__type-selector {
    label {
      font-size: 19px;
    }

    .horizontal-separator {
      display: none;
    }
  }

  .lbh-dialog {
    width: 655px;
    max-width: 655px;
  }

  .govuk-radios--small {
    display: flex;
    flex-direction: column;

    .govuk-radios__divider {
      width: initial;
      text-align: left;
    }
  }

  .create-pay-run__radios {
    .govuk-radios__divider > p {
      color: black;
      margin-bottom: 10px;
      font-size: 16px;
    }

    .govuk-radios__label {
      font-size: 14px;
    }
  }

  h3 {
    font-size: 27px;
    font-weight: 700;
    color: $lbh-text;

    margin-bottom: 32px;
  }

  .lbh-dialog__close {
    top: 30px;
    right: 30px;
  }
}

.create-pay-run__radios {
  margin-bottom: 20px;

  &:first-of-type {
    margin-bottom: 24px;
  }
}

.create-pay-run__actions {
  button {
    height: 40px;

    &:first-of-type {
      margin-right: 7px;
    }
  }
}

.create-pay-run__date-to {
  display: flex;
  margin-bottom: 24px;

  .datepicker-custom-input {
    min-width: 140px;
  }

  .lbh-form-group {
    height: fit-content;

    &:nth-of-type(2) {
      margin-left: 20px;

      .react-date-picker {
        right: 200px;
      }
    }
  }

  p {
    margin-top: 12px;
    font-size: 16px;
  }

  label {
    font-size: 19px;
  }
}