.border-dotted {border-style: dotted !important;}
.border-dashed {border-style: dashed !important;}
.border-solid {border-style: solid !important;}
.border-double {border-style: double !important;}
.border-groove {border-style: groove !important;}
.border-ridge {border-style: ridge !important;}
.border-inset {border-style: inset !important;}
.border-outset {border-style: outset !important;}
.border-none {border-style: none !important;}
.border-hidden {border-style: hidden !important;}
.border-mix {border-style: dotted dashed solid double !important;}


.border-w-1 {
  border-width: .25rem!important;
}

.border-w-2 {
  border-width: .5rem!important;
}

.border-w-3 {
  border-width: .75rem!important;
}

.border-w-4 {
  border-width: 1rem!important;
}

.border-w-5 {
  border-width: 1.5rem!important;
}

.border-w-6 {
  border-width: 3rem!important;
}

.bb-w-1 {
  border-bottom-width: .25rem!important;
}

.bb-w-2 {
  border-bottom-width: .5rem!important;
}

.bb-w-3 {
  border-bottom-width: .75rem!important;
}

.bb-w-4 {
  border-bottom-width: 1rem!important;
}

.bb-w-5 {
  border-bottom-width: 1.5rem!important;
}

.bb-w-6 {
  border-bottom-width: 3rem!important;
}

.border-w-medium {
  border-width: medium;
}

.border-w-thick {
  border-width: thick;
}

.border {
  border: 1px solid #dee2e6 !important;
}

.border-top {
  border-top: 1px solid #dee2e6 !important;
}

.border-right {
  border-right: 1px solid #dee2e6 !important;
}

.border-bottom {
  //border-bottom: 1px solid #dee2e6 !important;
  border-bottom: 1px solid #dee2e6;
}

.border-left {
  border-left: 1px solid #dee2e6 !important;
}

.border-0 {
  border: 0 !important;
}

.border-top-0 {
  border-top: 0 !important;
}

.border-right-0 {
  border-right: 0 !important;
}

.border-bottom-0 {
  border-bottom: 0 !important;
}

.border-left-0 {
  border-left: 0 !important;
}

.border-primary {
  border-color: #007bff !important;
}

.border-secondary {
  border-color: #6c757d !important;
}

.border-success {
  border-color: #28a745 !important;
}

.border-info {
  border-color: #17a2b8 !important;
}

.border-warning {
  border-color: #ffc107 !important;
}

.border-danger {
  border-color: #dc3545 !important;
}

.border-light {
  border-color: #f8f9fa !important;
}

.border-dark {
  border-color: #343a40 !important;
}

.border-white {
  border-color: #fff !important;
}

.rounded {
  border-radius: 0.25rem !important;
}

.rounded-top {
  border-top-left-radius: 0.25rem !important;
  border-top-right-radius: 0.25rem !important;
}

.rounded-right {
  border-top-right-radius: 0.25rem !important;
  border-bottom-right-radius: 0.25rem !important;
}

.rounded-bottom {
  border-bottom-right-radius: 0.25rem !important;
  border-bottom-left-radius: 0.25rem !important;
}

.rounded-left {
  border-top-left-radius: 0.25rem !important;
  border-bottom-left-radius: 0.25rem !important;
}

.rounded-circle {
  border-radius: 50% !important;
}

.rounded-0 {
  border-radius: 0 !important;
}
