@import "./variables.scss";
@import "./borders.scss";
@import "./typography.scss";
@import "../fonts/fonts.scss";
@import "./ProposedPackages/approval-history";
@import "./ProposedPackages/proposedPackges";
@import "./PackageReclaim/package-reclaim";
@import "./Payments/payments-header";
@import "./Payments/breadcrumbs";
@import "./Payments/popup-download-ceder";
@import "./PayRuns/header";
@import "./PayRuns/tabs";
@import "./PayRuns/table";
@import "./PayRuns/pagination";
@import "./PayRuns/footer";
@import "./PayRuns/create-pay-run";
@import "./PayRuns/level-insight";
@import "./PayRuns/popup-hold-payment";
@import "./PayRuns/held-payments";
@import "./Bills/header";
@import "./Bills/pagination";
@import "./Bills/filters";
@import "./Bills/table";
@import "./Supplier/header";
@import "./Supplier/table";
@import "./popup";

* {
  font-family: "OpenSans", sans-serif !important;
  letter-spacing: 0.15px;
}

button {
  padding-left: 0px;
}

// Small devices (landscape phones, 576px and smaller)
@media screen and (max-width: 576px) {
  .level-item {
    align-items: start;
    justify-content: left;
  }
}

// Medium devices (tablets, 768px and small)
@media screen and (max-width: 768px) {
  .level-item {
    align-items: start;
    justify-content: left;
  }
}
