@import "remove-approvals-header";
@import "user-details";
@import "core-package-details";

.remove-approvals__container {
  padding: 60px;

  @include media-mobile {
    padding: 8px;
  }
}

.remove-approvals__default-container {
  padding-bottom: 48px;
  margin-bottom: 48px;
  border-bottom: 1px solid #BFC1C3;

  & > h3 {
    font-size: 30px;
    font-weight: bold;
    margin-bottom: 16px;
  }
}

.remove-approvals__selectors {
  label {
    font-size: 19px;
    font-weight: bold;
    margin-bottom: 5px;
  }
}