.govuk-breadcrumbs {
  font-family: Open Sans;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-weight: 400;
  font-size: 0.875rem;
  line-height: 1.1428571429;
  color: #0b0c0c;

  &__default-text {
    color: $lbh-secondary-text-colour;
  }

  &__list,
  .lbh-contact__list {
    margin: 0;
    padding: 0;
    list-style-type: none;
    display: flex;
  }
  &__list:after,
  .govuk-fieldset:after {
    content: '';
    display: block;
    clear: both;
  }
  &__list-item {
    display: flex;
    position: relative;
    margin-bottom: 8px;
  }
  &__list-item:first-child {
    margin-left: 0;
    padding-left: 0;
  }
  &__list-item:first-child:before {
    content: none;
    display: none;
  }
  a {
    font-family: Open Sans;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
  a:focus {
    outline: transparent solid 3px;
    background-color: #ffc845;
    box-shadow: 0 -2px #ffc845, 0 4px #0b0c0c;
    text-decoration: none;
  }
  a:active,
  a:focus,
  a:hover,
  a:link,
  a:visited {
    color: $lbh-primary;
  }
  &__list-item:before {
    content: '';
    width: 7px;
    margin: auto 0;
    display: block;
    position: absolute;
  }
  a {
    color: $lbh-primary;
    cursor: pointer;
  }
  .lbh-breadcrumbs a {
    font-family: Open Sans;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-decoration: none;
    &:hover,
    &:active {
      color: #0085ca;
      text-decoration: underline;
    }
    &:focus,
    &:active {
      outline: transparent solid 3px;
      background-color: #ffc845;
      box-shadow: 0 -2px #ffc845, 0 4px #0b0c0c;
    }
  }
}

@media (min-width: 40.0625em) {
  .govuk-breadcrumbs {
    font-size: 1rem;
    line-height: 1.25;
  }
}
