.title-subtitle-header {
  padding-bottom: 48px;
  margin-bottom: 48px;
  margin-top: 60px;
  border-bottom: 1px solid #BFC1C3;

  p {
    font-size: 27px;
    color: $lbh-gray1;
  }

  h2 {
    font-size: 48px;
    color: black;
  }
}
