.pay-runs__new-pay_container {
  display: flex;
  flex-direction: column;

  .subtitle {
    font-weight: 100;
    font-size: 1.6rem;
  }
}

.pay-runs__new-pay {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-bottom: 20px;
}

.pay-runs__header {
  padding-bottom: 20px !important;
  margin-bottom: 44px;
}

.pay-runs__filters {
  display: flex;
  flex-wrap: wrap;

  .control {
    margin-right: 8px;
  }

  .custom-input__search {
    min-width: 231px;
    height: 42px;

    button {
      height: 40px;
      width: 40px;
    }

    input {
      width: 85%;
    }
  }

  .dropdown-container {
    .button {
      width: 157px;
      height: 42px;

      span {
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
      }
    }
  }
}

.pay-runs__filters-title {
  flex-basis: 100%;
}

.pay-run__filter-item {
  width: 220px;

  .dropdown {
    button {
      width: 220px;
      padding-left: 10px;
      padding-right: 10px;
      span {
        font-size: 14px;
      }
    }
  }
}

.pay-run__searches {
  display: flex;
  flex-wrap: wrap;
  flex-basis: 100%;

  .button.button-base {
    background: white;
    border: none;

    svg {
      path {
        fill: $lbh-gray;
      }
    }
  }
}

.pay-run__dropdowns {
  display: flex;
  flex-wrap: wrap;

  .control {
    margin-right: 8px;
  }

  .dropdown .button {
    height: 42px;
    width: 220px;
  }
}

.held-payments__filters {
  display: flex;
  flex-wrap: wrap;

  @include media-tablet-down {
    .control {
      margin-top: 10px;
    }
    .held-payments-select {
      margin-top: 10px;
    }
  }

  label.checkbox {
    align-items: flex-end;

    .checkbox-check {
      height: 19px;
      width: 19px;
    }
  }

  .checkbox {
    p {
      color: $lbh-black1;
      font-size: 14px;
    }
  }
}

.held-payments__date-picker .react-date-picker__input {
  width: 200px;
  height: 42px;
}

.held-payments-select {
  margin-right: 8px;

  &__control {
    width: 185px;
    height: 42px;
    border-color: #bfc1c3 !important;
    border-radius: 3px !important;
    box-shadow: none !important;
  }

  &__placeholder {
    color: #363636 !important;
  }

  &__indicators svg {
    margin: 0 10px;
  }
}