.pay-runs__held-payments-class {
  position: relative;
  overflow: unset;

  .sort-table > div:last-of-type {
    &:after {
      content: '';
      width: 22px;
      height: 20px;
    }
  }

  .sort, .table__row-item {
    width: unset;

    &.table__row-item-checkbox, &.chat-icon {
      width: unset;
    }

    &:nth-child(2) {
      width: 103px;
    }

    &:nth-child(3) {
      width: 180px;
    }

    &:nth-child(4) {
      width: 120px;
    }

    &:nth-child(5) {
      width: 136px;
    }

    &:nth-child(6) {
      width: 134px;
    }

    &:nth-child(7) {
      width: 90px;
    }

    &:nth-child(8) {
      width: 70px;
    }

    &:nth-child(9) {
      width: 92px;
    }
  }

  .table__row-release-all {
    position: absolute;
    bottom: 0;
    left: 20px;
    transform: translateY(72px);
  }
}
