.hold-payment__dropdown {
  margin-bottom: 32px;

  button {
    width: 220px;
    padding: 10px;
  }

  &.control.field-container label {
    color: $lbh-black1;
    font-weight: 400;
  }
}

.popup.held-payments__popup-invoice-chat {
  justify-content: flex-end;

  .popup__action-buttons {
    button {
      width: 100%;
      background-color: $lbh-green1;
      color: white;
      border-radius: 4px;
    }
  }

  .popup__inner-content {
    background-color: $lbh-light-gray2;
    width: 40%;
    height: 100%;
    overflow: auto;

    @include media-small-ipod-down {
      width: 60%;
    }

    @include media-mobile {
      width: 100%;
    }
  }

  .popup-invoice-chat__messages {
    overflow: auto;
    height: 38vh;
    padding-right: 20px;
    padding-left: 10px;
    margin-bottom: 30px;
    display: flex;
    flex-direction: column;
  }

  .popup-invoice-chat__message {
    width: 100%;
    margin-bottom: 20px;
  }

  .popup__header-title {
    font-size: 16px;
    font-weight: 400;
  }

  .popup-invoice-chat__header {
    margin-bottom: 30px;
    h2 {
      font-size: 24px;
      font-weight: 700;
    }

    p {
      font-size: 16px;
      font-weight: 400;
      color: $lbh-black1;
    }
  }

  .popup-invoice-chat__message-text {
    background-color: $lbh-gray;
    color: $lbh-black1;
    padding: 12px 12px 12px 6px;
    border-radius: 5px;
  }

  .popup-invoice-chat__message-from {
    color: $lbh-black1;
    font-size: 14px;
    font-weight: 700;
    margin-bottom: 7px;
  }

  .popup-invoice-chat__message-from-someone {
    .settings-opened {
      display: flex;
    }
    .popup-invoice-chat__message-text-container {
      display: flex;
      position: relative;
      align-items: center;
      margin-left: auto;
    }

    &:hover {
      .popup-invoice-chat__message-settings {
        display: flex;
      }
    }

    .popup-invoice-chat__message-from {
      text-align: right;
    }

    .popup-invoice-chat__message-text {
      background-color: $lbh-green-border;
      width: 100%;
      position: relative;

      &:before {
        position: absolute;
        content: '';
        top: 10px;
        right: -7px;
        border-bottom: solid 7px $lbh-green-border;
        border-right: solid 7px transparent;
        border-left: solid 7px transparent;
      }

      &:after {
        position: absolute;
        content: '';
        top: 17px;
        right: -7px;
        border-top: solid 7px $lbh-green-border;
        border-right: solid 7px transparent;
        border-left: solid 7px transparent;
      }
    }
  }

  .popup-invoice-chat__message-settings {
    position: absolute;
    justify-content: center;
    z-index: 2;
    left: -24px;

    .chat-settings-icon {
      display: flex;
      flex-direction: column;
      align-items: center;
      width: 24px;

      svg {
        margin-bottom: 2px;
      }
    }
  }

  .popup-invoice-chat__message-settings {
    display: none;

    &:hover {
      cursor: pointer;
    }
  }

  .popup-invoice-chat__message-text-container {
    width: 70%;
  }

  .popup-invoice-chat__message-from-current-user {
    .popup-invoice-chat__message-text-container {
      position: relative;
      display: flex;
      justify-content: center;
      flex-direction: column;

      .popup-invoice-chat__message-text {
        &:before {
          position: absolute;
          content: '';
          top: 10px;
          left: -7px;
          border-bottom: solid 7px $lbh-gray;
          border-right: solid 7px transparent;
          border-left: solid 7px transparent;
        }

        &:after {
          position: absolute;
          content: '';
          top: 17px;
          left: -7px;
          border-top: solid 7px $lbh-gray;
          border-right: solid 7px transparent;
          border-left: solid 7px transparent;
        }
      }
    }
  }
}

.popup-invoice-chat__inputs {
  .dropdown-trigger {
    width: 100%;
  }

  .button {
    width: 100%;
  }

  .hold-payment__dropdown,
  .dropdown {
    width: 100%;
  }

  .hold-payment__dropdown {
    margin-bottom: 8px;
  }

  textarea {
    font-size: 18px;
  }

  .dropdown-container {
    margin-bottom: 10px;
  }
}

.popup-invoice-chat__message-settings-actions {
  padding: 10px;
  background-color: white;
  position: absolute;
  bottom: -60px;
  min-width: 150px;
  border-radius: 3px;

  &.last-item {
    bottom: 40px;
  }

  p {
    text-align: center;
    color: $lbh-blue-highlight;
  }
}
