.pay-runs__tab-class {
  .table__row-item:not(.table__row-item:last-of-type) {
    margin-right: 40px;
  }

  .sort-table {
    width: 100%;
    .sort:not(.sort:last-of-type) {
      margin-right: 40px;
    }

    .sort:first-of-type {
      min-width: 170px;
    }

    .sort:nth-of-type(2) {
      min-width: 63px;
    }

    .sort:nth-of-type(3) {
      min-width: 178px;
    }

    .sort:nth-of-type(4) {
      min-width: 116px;
    }

    .sort:nth-of-type(5) {
      min-width: 82px;
    }

    .sort:nth-of-type(6) {
      min-width: 73px;
    }

    .sort:nth-of-type(7) {
      min-width: 124px;
    }
  }

  .table__row {
    .table__row-item:first-of-type {
      min-width: 170px;
    }

    .table__row-item:nth-of-type(2) {
      min-width: 63px;
    }

    .table__row-item:nth-of-type(3) {
      min-width: 178px;
    }

    .table__row-item:nth-of-type(4) {
      min-width: 116px;
    }

    .table__row-item:nth-of-type(5) {
      min-width: 82px;
    }

    .table__row-item:nth-of-type(6) {
      min-width: 73px;
    }

    .table__row-item:nth-of-type(7) {
      min-width: 124px;
    }
  }
}

.pay-run {
  .table-pagination {
    & > button {
      margin-right: auto;
    }
  }

  .table__row-item:nth-child(1) {
    width: 50px;
  }

  .table__row-item:nth-child(2) {
    width: 148px;
  }

  .table__row-item:nth-child(3) {
    width: 63px;
  }

  .table__row-item:nth-child(4) {
    width: 148px;
  }

  .table__row-item:nth-child(5) {
    width: 142px;
  }

  .table__row-item:nth-child(6) {
    width: 73px;
  }

  .sort:nth-child(1) {
    width: 50px;
  }

  .sort:nth-child(2) {
    width: 148px;
  }

  .sort:nth-child(3) {
    width: 63px;
  }

  .sort:nth-child(4) {
    width: 142px;
  }

  .sort:nth-child(5) {
    width: 148px;
  }

  .sort:nth-child(6) {
    width: 73px;
  }

  .sort:nth-child(7) {
    width: 134px;
  }
}

.held-payments__tab-class {
  .table__row-collapsed-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
  }
  .table__row-collapsed-header {
    flex-basis: 100%;
  }

  .table__row-collapsed-main {
    flex-basis: 85%;
  }
}

.chat-button {
  &:hover {
    cursor: pointer;
  }
}
