.payments__tabs {
  display: flex;
  border-bottom: 1px solid $lbh-green-border;
  padding: 0 12px;
}

.payments__tabs-inactive-tab {
  background: $lbh-gray;
  margin-bottom: 7px;
  border-radius: 4px;
}

.payments__tabs-tab {
  margin-right: 12px;
  min-width: 134px;
  padding: 6px 12px;
  border-radius: 4px 4px 0 0;

  &:hover {
    cursor: pointer;
  }
}

.payments__tabs-active-tab {
  border-left: 1px solid $lbh-green-border;
  border-top: 1px solid $lbh-green-border;
  border-right: 1px solid $lbh-green-border;
  position: relative;
  background: white;
  bottom: -1px;
}
