$tab-border-width: 3px;
$tab-border: $tab-border-width solid $lbh-gray;

.payments__tabs {
  display: flex;
  border-bottom: $tab-border;
  padding: 0 12px;
}

.payments__tabs-tab {
  margin-right: 12px;
  min-width: 134px;
  padding: 6px 12px;
  border-radius: 0;

  &:hover {
    cursor: pointer;
  }
}

.payments__tabs-inactive-tab {
  background: $lbh-gray;
  margin-bottom: 12px;
  border-radius: 4px;
  position: relative;
  bottom: -$tab-border-width;
}

.payments__tabs-active-tab {
  border-left: $tab-border;
  border-top: $tab-border;
  border-right: $tab-border;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  position: relative;
  background: white;
  bottom: -3px;
}
