.approver-hub__table {
  .table__row-column {
    &-1 {
      width: 132px;
    }
    &-2 {
      width: 124px;
    }
    &-3 {
      justify-content: center;
      width: 100px;
      text-align: center;
    }
    &-4 {
      width: 120px;
      justify-content: center;
      text-align: center;
    }
    &-5 {
      width: 150px;
      text-align: center;
      justify-content: center;
    }
    &-6 {
      width: 178px;
      text-align: center;
      justify-content: center;
    }
    &-7 {
      width: 84px;
      text-align: center;
      justify-content: center;
    }
  }

  .table__row-item {
    font-size: 14px;
    &:nth-child(3) {
      font-weight: bold;
      color: black;
    }
  }

  .sort__actions {
    svg {
      width: 10px;
      path {
        stroke: black;
      }
    }
  }
}
