.govuk-tag {
  text-transform: uppercase;
  font-family: Open Sans;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  display: inline-block;
  outline: transparent solid 2px;
  outline-offset: -2px;
  color: #fff;
  background-color: #1d70b8;
  letter-spacing: 1px;
  text-decoration: none;
  font-weight: 700;
  font-size: 0.875rem;
  line-height: 1;
  padding: 5px 8px 4px;

  &--inactive {
    background-color: #505a5f;
  }
  &--gray {
    color: #383f43;
    background: #eeefef;
  }
  &--purple {
    color: #3d2375;
    background: #dbd5e9;
  }
  &--turquoise {
    color: #10403c;
    background: #bfe3e0;
  }
  &--blue {
    color: #144e81;
    background: #d2e2f1;
  }
  &--yellow {
    color: #594d00;
    background: #fff7bf;
  }
  &--orange {
    color: #6e3619;
    background: #fcd6c3;
  }
  &--red {
    color: #942514;
    background: #f6d7d2;
  }
  &--pink {
    color: #80224d;
    background: #f7d7e6;
  }
  &--green {
    color: #005a30;
    background: #cce2d8;
  }

  @media (min-width: 40.0625em) {
    font-size: 1rem;
    line-height: 1;
  }

  @media print {
    font-family: sans-serif;
    font-size: 14pt;
    line-height: 1;
  }
}

.lbh-tag {
  font-family: Open Sans;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 0.8125rem;
  font-weight: 400;
  line-height: 1.1875rem;
  background-color: #025ea6;
  color: #fff;
  padding: 4px 6px;
  display: inline-block;
  border-radius: 2px;
  text-transform: none;
  letter-spacing: normal;

  &.outline {
    border-radius: 4px;
  }

  &--green {
    background-color: #00664f;
    color: #fff;

    &.outline {
      color: $lbh-primary-button;
      background: $lbh-light-green;
      border: 1px solid $lbh-primary-button;
    }
  }
  &--yellow {
    background-color: #f8e08e;
    color: #0b0c0c;

    &.outline {
      color: $lbh-secondary-text-colour;
      background: $lbh-light-yellow;
      border: 1px solid $lbh-yellow;
    }
  }
  &--red {
    background-color: #be3a34;
    color: #fff;

    &.outline {
      color: $lbh-red;
      background: $lbh-light-red;
      border: 1px solid $lbh-red;
    }
  }
  &--gray {
    background-color: #bfc1c3;
    color: #0b0c0c;

    &.outline {
      color: $lbh-gray1;
      background: $lbh-light-gray2;
      border: 1px solid $lbh-gray1;
    }
  }
  &--blue {
    background-color: #025ea6;
    color: #fff;

    &.outline {
      color: $lbh-link;
      background: $lbh-light-blue;
      border: 1px solid $lbh-link;
    }
  }

  @media (min-width: 40.0625em) {
    font-size: 1rem;
    line-height: 1.5rem;
  }
}
