.package-reclaim {
  h1 {
    color: $lbh-green1;
    font-size: 24px;
    font-weight: 700;
    margin-bottom: 15px;
  }

  textarea {
    color: $lbh-black1;

    &::placeholder {
      color: $lbh-black1;
    }
  }

  .radio-cont {
    flex-wrap: wrap;
  }
}

.action-button-text {
  margin-left: 12px;
  font-weight: initial;
  color: $lbh-blue-highlight;
  text-decoration: underline;
  text-decoration-color: $lbh-blue-highlight;
  &:hover {
    cursor: pointer;
  }
}

.action-button-red {
  font-size: 14px;
  color: $lbh-red;
  text-decoration-color: $lbh-red;
}

.package-reclaim__dropdowns {
  margin-bottom: 21px;

  & > .control:first-of-type {
    margin-right: 27px;
  }
}

.package-reclaim__notes {
  max-width: 357px;
  margin-bottom: 30px;
  display: flex;
  flex-direction: column;
}

.should-package-reclaim {
  border-top: 1px solid $lbh-gray;
  border-bottom: 1px solid $lbh-gray;
  padding: 20px 0;

  & > p {
    max-width: 70%;
  }
}
