@import 'careTitle';
@import 'additionalNeeds';
@import 'package-header';
@import "care-packages-setup";
@import "FundedNursingCare";
@import "History";

.care-packages-page {
  padding: 32px;
  max-width: 1200px;

  @include media-desktop-xl {
    padding: 32px 0;
    margin: 0 auto;
  }

  @include media-small-ipod-down {
    padding: 32px 0;
  }
}
