.brokerage__submit-for-approval {
  .popup__inner-content {
    width: 480px;
    height: 469px;
    padding: 32px;
  }

  .brokerage__approved-by-select {
    margin-bottom: 32px;

    .govuk-fieldset__legend {
      font-size: 19px;
    }

    .select-container {
      width: 100%;
    }
  }

  .brokerage__add-notes {
    &.lbh-form-group {
      margin-bottom: 32px;
    }

    .govuk-fieldset__legend {
      font-size: 19px;
    }

    textarea {
      height: 102px;
    }
  }

  .popup__close-button {
    display: none;
  }
}