.brokerage__submit-for-approval {
  .lbh-dialog {
    width: 480px;
    height: fit-content;
    padding: 32px;
    border: none;
  }

  h2 {
    font-size: 30px;
    font-weight: 700;
    margin-bottom: 32px;
    color: $lbh-text-colour;
  }

  .lbh-dialog__close {
    display: none;
  }

  .brokerage__approved-by-select {
    margin-bottom: 32px;

    .govuk-fieldset__legend {
      font-size: 19px;
    }

    .select-container {
      width: 100%;
    }
  }

  .brokerage__add-notes {
    &.lbh-form-group {
      margin-bottom: 32px;
    }

    .govuk-fieldset__legend {
      font-size: 19px;
    }

    textarea {
      height: 102px;
    }
  }

  .popup__close-button {
    display: none;
  }
}