.brokerage__care-charges {
  .care-charges__textarea {
    margin-bottom: 48px;
  }

  .lbh-announcement {
    margin-bottom: 48px;

    .lbh-announcement__content {
      p {
        font-size: 19px;
      }
    }
  }

  .brokerage__border-cost {
    margin-bottom: 48px;

  }

  .lbh-form-group .govuk-fieldset__legend {
    font-size: 19px;
    font-weight: 600;
    color: black;
  }

  .reason-collecting {
    font-size: 19px;
    font-weight: 600;
    color: black;
  }

  .select-container {
    width: 589px;
    margin-bottom: 4px;
  }
}

.care-charges-hint {
  font-size: 19px;
  color: $lbh-gray1;
  margin-bottom: 24px;
}

.care-charges__cost-input {
  width: 368px;
  margin-bottom: 24px;

  .lbh-label {
    font-size: 19px;
    font-weight: 600;
    color: black;
  }

  .govuk-hint {
    font-size: 16px;
  }

  .input-container {
    font-size: 14px;
  }

  input {
    font-size: 14px;
  }
}
