.brokerage__funded-nursing-care {
  .select-collected-by {
    font-size: 19px;
    font-weight: bold;
    margin-bottom: 8px;
  }

  .brokerage__package-dates {
    margin-bottom: 24px;
  }

  .select-container {
    margin-bottom: 24px;
  }

  .funded-nursing-care__select {
    width: 589px;
  }

  .govuk-checkboxes__label {
    font-size: 19px;
    color: black;
  }

  .label-textarea {
    font-size: 19px;
    font-weight: 600;
    margin-bottom: 8px;
  }

  .file-upload-form {
    width: 220px;
    .file-upload {
      padding: initial;
      div {
        font-size: 19px;
        background: transparent;
        border: 1px solid $lbh-green1;
        color: $lbh-green1;
        height: 50px;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 4px;
      }
    }
  }

  .upload-fnc-assessment {
    margin-bottom: 47px;

    .govuk-fieldset__legend {
      font-size: 19px;
    }
  }

  .brokerage__border-cost {
    margin-bottom: 48px;
  }
}