@import "../../../assets/css/variables.scss";

.button.button-base {
    font-weight: bold;
    font-size: 14px;
    line-height: 20px;
    text-align: center;
    color: #ffffff;
    background-color: $lbh-green1;
    padding: 12px 16px;
    height: 42px;

    &.outline {
        color: $lbh-green1;
        background: white;
        border-color: $lbh-green1;
    }
}

.link-button {
    font-size: 14px;
    line-height: 20px;
    text-decoration-line: underline;
    color: $lbh-link;
    background: none !important;
    border: none !important;
    outline: none !important;
    box-shadow: none !important;
    cursor: pointer;
}
