@import "../../../assets/css/variables.scss";

.dropdown {
    button.button {
        border-radius: 0;
        outline: none !important;
        box-shadow: unset !important;
        border: 2px solid $lbh-black1 !important;
        height: 40px;
        display: flex;
        justify-content: space-between;
    }

    .dropdown-item {
        cursor: pointer;
    }
}
