@import "../../../assets/css/variables.scss";

.control.field-container {
    label:not(.radio) {
        width: 100%;
        font-weight: bold;
        margin-bottom: 5px;
        display: block;

        input {
            width: 100%;
        }
    }

    label.radio {
        input {
            margin-right: 5px;
        }
    }

    input,
    textarea {
        border: 2px solid $lbh-black-1;
        border-radius: unset !important;
    }

    textarea {
        width: 100%;
        resize: none;
        padding: 10px;
    }

    &.has-label {
        input,
        textarea {
            margin-top: 5px;
        }
    }
}
