.custom-input {
  height: 40px;
  padding-left: 10px;
}

.custom-input__search {
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border: 2px solid #0b0c0c;
  border-radius: unset !important;
  outline: unset !important;
  overflow: hidden;

  &:hover {
    cursor: text;
  }

  input {
    border: none !important;
  }

  .button {
    border-radius: 0;
    width: 34px;
    height: 34px;
    padding: 0;
  }
}
