.visiting-days {
  display: flex;
  flex-wrap: wrap;

  @include media-small-ipod-down {
    & > span:first-of-type {
      flex-basis: 100%;
    }

    span.level-item {
      margin-bottom: 0;
    }
  }
}

.day-care-day-cbxs {
  display: flex;
  flex-wrap: wrap;
  width: 50%;
  padding: 0 12px;
  margin-bottom: 20px;

  @include media-small-ipod-down {
    width: 100%;
    justify-content: space-between;
  }

  & > div {
    display: flex;
    flex-direction: column;
    align-items: center;

    &:not(&:last-of-type) {
      margin-right: 20px;

      @include media-small-ipod-down {
        margin-right: 0;
      }
    }

    label:not(.checkbox) {
      font-weight: bold;
      font-size: 14px;
      line-height: 20px;
      margin-bottom: 7px;
      display: block;
    }

    .checkbox-check {
      margin-right: unset !important;
    }
  }
}

.day-care-opportunity {
  .opportunity-dropdown-options {
    flex-wrap: wrap;
    align-items: center;

    .opportunity-dropdown-cont,
    .dropdown,
    .dropdown-trigger {
      width: 100%;
    }
  }
}

.opportunity-summary-line {
  border-bottom: 2px solid #dee0e2;
  height: 0;
  width: 100%;
}

.text-green {
  color: #00664f;
}

.text-black {
  color: #0b0c0c;
}

.text-black {
  color: #0b0c0c;
}

.text-lbh-f01 {
  color: $lbh-f01;
}

.text-blue {
  color: $lbh-blue-highlight
}

.text-faded {
  opacity: 0.25;
}

.react-date-picker {
  position: relative;
  width: 100%;
  max-width: 200px;

  &.disabled {
    opacity: 0.5;
  }
}
