.breadcrumbs {
  display: flex;

  div {
    display: flex;

    span {
      color: $lbh-black1;
      margin: 0 10px;
    }
  }
}

.breadcrumbs__item {
  font-size: 16px;
  color: $lbh-secondary-text-colour;

  &.green {
    color: $lbh-green1;

    &:hover {
      cursor: pointer;
    }
  }
}

.text-underline {
  text-decoration: underline;

  &.green {
    text-decoration-color: $lbh-green1;
  }
}
