.default-logo-header {
  background: $lbh-black1;
  padding: 16px;
  overflow: auto;

  display: flex;
  justify-content: space-between;
}

.default-logo-header-navigation {
  display: flex;
}

.default-logo-header-item {
  font-size: 16px;
  line-height: 20px;
  color: white;
  display: flex;
  align-items: center;

  &:hover {
    cursor: pointer;
  }

  &:not(&:last-of-type) {
    margin-right: 22px;
  }
}

.default-logo-header-active-item {
  text-decoration: underline;

  opacity: 0.75;
}
