.supplier-dashboard__header {
  background-color: $lbh-light-gray;
  padding: 16px 16px 32px 16px;
  margin-bottom: 50px;
}

.supplier-dashboard__edit {
  display: flex;
  align-items: flex-end;

  .title {
    margin-bottom: 0;
    margin-right: 20px;
    font-weight: 700;
    font-size: 36px;
  }
}

.supplier-returns {
  .dropdown {
    .button {
      padding: 10px;
    }
  }
  .breadcrumbs {
    background-color: $lbh-light-gray;
  }
}

.supplier-returns__inner-header {
  background-color: $lbh-light-gray;
  margin-bottom: 38px;
}

.supplier-dashboard__edit-button {
  color: $lbh-green1;
  font-size: 16px;

  &:hover {
    cursor: pointer;
  }
}

.supplier-returns-dashboard__actions {
  display: flex;
  justify-content: space-between;
}

.supplier-returns-dashboard__action {
  display: flex;

  .dropdown-container {
    margin-right: 6px;

    .button {
      width: 237px;
    }
  }

  .button.button-base {
    height: 40px;
  }
}

.supplier-returns__dropdowns {
  display: flex;
  justify-content: flex-end;
  margin-bottom: 10px;

  .button {
    width: 125px;
    height: 40px;
    padding: 10px;
    font-size: 14px;
  }

  .button.button-base {
    height: 40px;
    width: initial;
  }

  .dropdown-container:last-of-type {
    margin-right: 18px;
  }
}

.supplier-returns__filters-checkboxes {
  display: flex;

  .checkbox {
    margin-right: 20px;

    p {
      font-size: 14px;
    }
  }

  label.checkbox .checkbox-check {
    width: 19px;
    height: 19px;
  }
}

.supplier-returns-dashboard__inner-header {
  padding: 16px;
}

.supplier-returns-dashboard__upload-evidence {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;

  .title {
    margin-bottom: 0;
  }
}
