.govuk-date-input__label {
  display: block;
}

.govuk-date-input__hint {
  width: 100%;
}

.govuk-date-input {
  font-size: 0;
  display: flex;
  align-items: center;
  flex-wrap: wrap;

  &.disabled {
    opacity: 0.5;
    pointer-events: none;
  }

  & > .govuk-label {
    width: 100%;
  }

  .govuk-date-input__item {
    display: flex;
    align-items: center;

    .govuk-label.govuk-date-input__label {
      margin: 0 8px 0 0;
    }
  }
}

.lbh-form-group .govuk-label.govuk-date-input__label {
  font-size: 1rem;
  font-weight: 400;
  font-family: Open Sans;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.govuk-date-input__item {
  display: inline-block;
  margin-right: 20px;
  margin-bottom: 0;
}

.lbh-form-group .govuk-label.govuk-date-input__label {
  color: #0b0c0c;
  line-height: 1.625rem;
}

.lbh-form-group .govuk-label.govuk-date-input__label {
  display: block;
  font-weight: 600;
  font-size: 1.125rem;
  line-height: 1.375rem;
  margin: 0;
}

.govuk-date-input__input {
  margin-bottom: 0;
  width: 49px;
  text-align: center;
}

.govuk-date-input__item {
  display: inline-block;
  margin-right: 20px;
  margin-bottom: 0;
}

@media (max-width: 40.0625em) {
  .lbh-form-group .govuk-label.govuk-date-input__label {
    font-size: 1.25rem;
    line-height: 1.5rem;
  }
}

.date-picker__additional-action {
  width: 26px;
  height: 26px;
  margin-left: 10px;
  border-radius: 4px;
  padding: 1px;
  display: flex;
  align-items: center;
  justify-content: center;

  &:hover {
    cursor: pointer;
  }

  &.clear-datepicker {
    &:hover {
      background-color: $lbh-gray;
    }

    svg path {
      fill: $lbh-red;
    }
  }

  &.restore-date {
    &:hover {
      background-color: $lbh-gray;
    }

    svg {
      fill: $lbh-primary;
    }
  }
}

.date-picker__calendar-container {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;

  .date-picker__additional-action {
    margin-left: 0;

    svg path {
      fill: $lbh-blue-highlight;
    }
  }

  & > svg:hover {
    cursor: pointer;
  }

  .react-date-picker {
    position: absolute;
    z-index: 3;
    top: -140px;
    left: -120px;

    &.left {
      left: -260px;
    }

    &.right {
      left: initial;
      right: 0;
    }

    &.bottom {
      top: initial;
      bottom: 0;
    }

    &.top {
      top: -277px;
    }
  }
}
