.lbh-announcement {
  padding: 25px;
  border-top: 1px solid #84bd00;
  border-bottom: 1px solid #84bd00;
  border-right: 1px solid #84bd00;
  border-left: 6px solid #84bd00;
  background: rgba(164, 214, 94, 0.2);
  &--site {
    background: rgba(164, 214, 94, 0.5);
  }
  &--warning {
    border-color: #be3a34;
    background: rgba(224, 60, 49, 0.2);
  }
  &__title {
    margin-top: 0;
    margin-bottom: 0.75rem;
    font-weight: 800;
    font-size: 1.25rem;
    color: #1c1e21;
  }
  &__content {
    color: #0b0c0c;
    font-size: 1rem;
    line-height: 1.625rem;
    font-weight: 400;
  }
}
