.govuk-fieldset {
  min-width: 0;
  margin: 0;
  padding: 0;
  border: 0;
}
.lbh-form-group.govuk-form-group--error {
  border-color: #be3a34;
}
.govuk-form-group {
  &.disabled {
    opacity: 0.5;
    user-select: none;
    pointer-events: none;
  }
}
.govuk-visually-hidden {
  position: absolute !important;
  width: 1px !important;
  height: 1px !important;
  margin: 0 !important;
  padding: 0 !important;
  overflow: hidden !important;
  clip: rect(0 0 0 0) !important;
  -webkit-clip-path: inset(50%) !important;
  clip-path: inset(50%) !important;
  border: 0 !important;
  white-space: nowrap !important;
}

.lbh-form-group .small-label {
  font-size: 1.125rem;
  margin: 0;
}
