.week-of-supplier {
  .table__row {
    &.in-dispute {
      background-color: $lbh-light-red;
    }
  }
  .table__row-collapsed-footer-item {
    display: flex;
    justify-content: flex-end;
    margin-top: 10px;

    button:first-of-type {
      margin-right: 5px;
    }
  }

  .table__row-item {
    .button {
      height: 30px;
      padding: 0 5px;
      border-radius: 0;
    }
    &:nth-child(7) {
      display: flex;
      width: 158px;

      p {
        font-size: 14px;
      }

      .chat-button {
        margin-left: 6px;
      }
    }
  }

  .sort {
    &:nth-child(7) {
      width: 158px;
      justify-content: center;
    }
  }

  .table__row-collapsed-header {
    p {
      &:nth-child(7) {
        justify-content: initial;
      }

      &:nth-child(8) {
        width: 158px;
      }
    }
  }

  .table__row-collapsed-main-item {
    .table__row-collapsed-main-item-el {
      .chat-button {
        margin-left: 6px;
      }

      .button {
        height: 30px;
        padding: 0 5px;
        border-radius: 0;
      }

      &:nth-child(7) {
        justify-content: initial;
      }

      &:nth-child(8) {
        width: 158px;

        &:hover {
          cursor: initial;
        }

        p {
          text-align: end;
        }
      }
    }
  }
}

.weekly-of-supplier__accept-action {
  margin-right: 10px;
  cursor: pointer;
}

.weekly-of-supplier__dispute-action {
  cursor: pointer;
}

.weekly-of-supplier__revoke-action {
  cursor: pointer;
}
